@model IEnumerable<DataBase.TourPhoto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="./swiper/package/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

    <title>travel.intita.com</title>

    <!-- Swiper's styles -->
    <style>
        .swiper-container {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 250px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 420px;
            height: 300px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <header class="col-12">
            <br>
            <div class="container80">
                <div class="row justify-spase-around">
                    <div class="col-auto"><img class="logo" src="~/images/logo.png" alt=""></div>
                    <div class="col-1 separator"></div>
                    @*<div class="col-sm-3 add_separator"><a href="~/scandinavia">Скандинавія</a></div>*@
                    @*<div class="col-sm-3 add_separator"><a href="~/carpaty">Карпати</a></div>*@
                    @await Component.InvokeAsync("NavigationMenuMain",@ViewBag.TourId)

                    <div class="col-auto">+38 067 <b>431 74 24</b> <br> +38 073 <b>209 97 43</b></div>
                </div>
            </div>

        </header>

        <div class="header col-12"></div>

        <div class="block1 col-12">
            <div class="headerBackdown">
                <h1>@ViewBag.TourName<br> @ViewBag.TourDescription</h1>
                <h3 class="blue">@ViewBag.DateFrom - @ViewBag.DateTo</h3>
                <div class="socialMedia">
                    <a href="#" class="fa fa-linkedin"></a> <br>
                    <a href="#" class="fa fa-facebook"></a> <br>
                    <a href="#" class="fa fa-instagram"></a> <br>
                </div>
                <div class="text-center">
                    <a asp-action="Register" asp-controller="Account" class="button4">Приєднатись</a>
                </div>
                <div class="footerBlock1"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="block2 col-12">
            <h2 class="firstHeader">Наша подорож</h2>
            <br>
            <div class="container container1">
                <div class="row justify-content-center">
                    <div class="col-9">
                        <p>
                            Вінницька IT Академія відкриває для всіх бажаючих простори рідного регіону. Ми підготували
                            для вас цікаву і насичену програму. Беріть з собою друзів і гайда підкорювати нові «вершини»!
                            Свіже повітря, захоплюючі пейзажі, гарна компанія - все для любителів активного відпочинку.
                            Ми побачимо краєвиди, від яких точно перехопить подих. А вашим фотографіям  будуть заздрити
                            всі знайомі. Пізнаємо рідний край,  проникаємось любов'ю до нього ;-) у приємній дружній компанії.
                        </p>
                    </div>
                </div>
            </div>

            <img class="ImgCloud1" src="~/images/cloud1.png" alt="">
            <img class="ImgCloud2" src="~/images/cloud2.png" alt="">
            <div class="footerBlock2"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="block3 col-12">
            <div class="container80">
                <div class="content-title">
                    <h2 class="secondHeader">Взяти з собою<br>в дорогу</h2>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/tourist-tax.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Документи</h3>
                            <ul>
                                <li>паспорт гомадянина України</li>
                                <li>свідоцтво про народження для дітей</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/bathtub.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Засоби гігієни</h3>
                            <ul>
                                <li>зубна щітка</li>
                                <li>зубна паста</li>
                                <li>мило</li>
                                <li>туалетний папір</li>
                                <li>рушник</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/restaurant.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Посуд</h3>
                            <ul>
                                <li>ніж</li>
                                <li>кухоль</li>
                                <li>ложка, вилка</li>
                                <li>стопка</li>
                                <li>глибока миска</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/breakfast.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Харчування</h3>
                            <ul>
                                <li>енергетичні батончики</li>
                                <li>горішки</li>
                                <li>бутерброди</li>
                                <li>фляга чи пляшка з водою 1,5 л</li>
                                <li>алкоголь:)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/luggage.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Спорядження</h3>
                            <ul>
                                <li>намети на кілька людей</li>
                                <li>рюкзак</li>
                                <li>спальник</li>
                                <li>каремат</li>
                                <li>ліхтар(бажано на голову)</li>
                                <li>батарейки</li>
                                <li>дощовик для рюкзака</li>
                                <li>сірники(запальничка)</li>
                                <li>powerbank</li>
                                <li>компас(навігатор)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/umbrella.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Засоби захисту</h3>
                            <ul>
                                <li>дощовик</li>
                                <li>сонцезахисні окуляри</li>
                                <li>засіб від комарів</li>
                                <li>крем для загару</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div>
                            <object type="image/svg+xml" data="~/icons/flip-flops.svg" class="svg-icon"></object>
                        </div>
                        <div class="content">
                            <h3>Одяг та взуття</h3>
                            <ul>
                                <li>кепка, панама від сонця</li>
                                <li>шкарпетки цілі), одна пара шерстяні</li>
                                <li>зручне взуття на твердій підошві(не кеди і не кросівки)</li>
                                <li>кофтина(флісова)</li>
                                <li>вітровка</li>
                                <li>нижня білизна </li>
                                <li>теплі штанці</li>
                                <li>тонкі і легкі штанці</li>
                                <li>футболка бавовняна 100%(не майка і не сорочка)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <img class="ImgCloud3" src="~/images/cloud3.png" alt="">
            <img class="ImgCloud4" src="~/images/cloud5.png" alt="">
            <div class="footerBlock3"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="block4 col-12">
            <div class="night">
                <div class="container for-group">
                    <div class="content-title">
                        <h2 class="thirdHeader">Для групи</h2>
                    </div>
                    <div class="row white">
                        <div class="col-sm-3">
                            <div class="content">
                                <ul>
                                    <li>державний прапор</li>
                                    <li>прапор ІТ Академії</li>
                                    <li>квитки на потяг</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content">
                                <ul>
                                    <li>аптечка</li>
                                    <li>скатертина</li>
                                    <li>фотоаппарат, екшн-камера</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content">
                                <ul>
                                    <li>пилка, сокира</li>
                                    <li>крупи, тушонка</li>
                                    <li>суп в брикетах</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="content">
                                <ul>
                                    <li>олія, спеції</li>
                                    <li>сало, хлібці</li>
                                    <li>цибуля, часник, морква</li>
                                </ul>
                            </div>
                        </div>
                        <div class="footerBlock4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="block5 col-12">
            <h2 class="forthHeader">яскраві моменти</h2>
            <br>
            <h3 class="swiper">@ViewBag.TourName</h3>
            <div class="col-1 invisible">.</div>
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!--
                        <div class="swiper-slide" style="background-image: url(./images/foto1.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(./images/foto2.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(./images/foto3.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(./images/foto4.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(./images/foto5.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(./images/foto6.jpg)"></div>
                    -->

                    @foreach (var photo in Model)
                    {
                        //if (photo.TourTypeId == 1)
                        //{
                            <div class="swiper-slide" style="background-image: url(./images/Swiper/@photo.PhotoLink)"></div>
                            //}
                        }
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
            @*<div class="footerBlock5"></div>*@
        </div>
    </div>

    <div class="container-fluid">
        <div class="block6 col-12">
            <div class="night">
                <br>
                <footer class="container">
                    <div class="row">
                        <div class="col-2">
                            <div class="col-sm-2"><img class="logo" src="~/images/logo.png" alt=""></div>
                        </div>
                        <div class="col-2">
                            <div class="footer-phone-email">
                                +38 067 <b>431 74 24</b> <br>info@intita.com
                            </div>
                        </div>
                        <div class="col-sm-4 button-container">
                            <a asp-action="Register" asp-controller="Account" class="button4">Приєднатись</a>
                        </div>
                        <div class="col-sm-1">

                        </div>
                        <div class="col-sm-1 social-media-container">
                            <a href="#">
                                <img src="~/icons/facebook-logo.png" alt="" class="social-icon">
                            </a>
                        </div>
                        <div class="col-sm-1 social-media-container">
                            <a href="#">
                                <img src="~/icons/twitter.png" alt="" class="social-icon">
                            </a>
                        </div>
                        <div class="col-sm-1 social-media-container">
                            <a href="#">
                                <img src="~/icons/instagram-logo.png" alt="" class="social-icon">
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Swiper JS -->
    <script src="./swiper/package/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>


</body>
</html>

