@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Rendering
@using IT_Dnistro;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink($"Admin", "Admin", "Admin", "")</li>
    }
    if (User.Identity.Name != "")
    {

        <li>@Html.ActionLink($"{User.Identity.Name}", "Index", "Home", "")</li>
    }
    else
    {
        <li>@Html.ActionLink("", "Index", "Home", "", new { @class = "glyphicon glyphicon-user" })</li>
    }



    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
}