@model IT_Dnistro.ViewModels.BackgroundViewModel

@{
    ViewData["Title"] = "Background";
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleAdminImages.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <div class="gallery_container">
        <div class="headerImage"><h1>Background @ViewBag.TourName</h1></div>
        <div class="images">
            <div class="first_images_container">
                @foreach (var f in Model.Photos)
                {
                <div class="image">
                    <div class="photo" style="background: url('/images/TourBG/@f.PhotoLink') no-repeat center top/cover">
                        <div>
                            <a class="text-black" href="#" data-toggle="modal" data-target="#confirmDelete@{@f.Id}">
                                <img src="~/images/delete1.png" align="right" alt="">
                            </a>
                            <!-- Logout Modal-->
                            <div class="modal fade" id="confirmDelete@{ @f.Id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ви впевнені що хочете видалити фото?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Повернути видалене фото буде неможливо.</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Відміна</button>
                                            @Html.ActionLink("Видалити", "DeleteConfirm",
                                                "TourPhotoBackground", new { Id = @f.Id },
                                                new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photo_name">
                        <p> @f.PhotoLink </p>
                    </div>
                </div>
                }

                <div class="plus_image example-1">
                    <form asp-action="AddFile" asp-controller="TourPhotoBackground" method="post" enctype="multipart/form-data">
                            <label>
                                <img src="~/images/plus.png" alt="plus">
                                <input type="file" name="uploadedFile" accept='image/*'>
                            </label>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var input = document.querySelector("input[type='file']");
        input.onchange = function () {
            this.form.submit();
        }
    </script>
</body>
</html>