@using System.Net
@using DataBase
@using IT_Dnistro.ViewModels
@using Swashbuckle.AspNetCore.SwaggerUI
@model GalleryViewModel

@{
    ViewData["Title"] = "Галерея";
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleAdminImages.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

    <div class="gallery_container">
        <div class="headerImage"><h1>Галерея @ViewBag.TourName</h1></div>
        @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Обрати тур
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                @foreach (var tour in Model.Tours)
                {
                    <button class="dropdown-item" type="button">
                        @Html.ActionLink(@tour.TourTypeName, "GetIdTour",
                            controllerName: "FileUploadApp", routeValues: new { IdTour = tour.Id },
                            new { @class = "btn btn-default" })
                    </button>
                }
            </div>
        </div>*@

        <div class="images">
            <div class="first_images_container">
                @foreach (var f in Model.Photos)
                {
                    <div class="image">
                        <div class="photo" style="background: url('/images/Swiper/@f.PhotoLink') no-repeat center top/cover">
                            @Html.ActionLink("", "DeleteConfirm",
                                controllerName: "FileUploadApp", routeValues: new { Id = @f.Id },
                                new { @class = "mylink" })
                        </div>
                        <div class="photo_name">
                            <p> @f.PhotoLink </p>
                        </div>
                    </div>
                }
                <div class="plus_image example-1">
                    @*<div class="label">*@
                    <label>
                        <form asp-action="AddFile" asp-controller="FileUploadApp" method="post" enctype="multipart/form-data">
                            <img src="~/images/plus.png" alt="plus">
                            <input type="file" name="uploadedFile">
                        </form>
                    </label>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>

<script>
    var input = document.querySelector("input[type='file']");
    console.log(input);
    input.onchange = function () {
        this.form.submit();
    }
</script>
</body>
</html>