@model IEnumerable<DataBase.TourType>

@{
    ViewData["Title"] = "Мої тури";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin board</title>
    <link rel="stylesheet" href="~/css/styleAdminMainPage.css">
</head>

<body>
    <div class="container">
        <div class="header"><h1>Мої тури</h1></div>
        <div class="block row justify-content-between">
            <div class="participantslist col-12">
                <h2>Таблиця турів</h2>
                <a asp-action="Create" title="Додати тур">
                    <div class="button">
                        <svg width="74" height="14" viewBox="0 0 74 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.3501 13.2725H9.04443V10.832H1.90088V13.2793H0.588379L0.581543 9.75879H1.39502C1.8234 9.27572 2.16292 8.62858 2.41357 7.81738C2.66878 7.00163 2.82829 6.1084 2.89209 5.1377L3.11084 0.878906H9.06494V9.75879H10.3638L10.3501 13.2725ZM2.89209 9.75879H7.74561V1.95898H4.37549L4.23193 4.88477C4.17269 6.02865 4.02002 7.00391 3.77393 7.81055C3.53239 8.61719 3.23844 9.2666 2.89209 9.75879ZM11.3892 7.06543C11.3892 6.34082 11.5304 5.68913 11.813 5.11035C12.1001 4.53158 12.4966 4.08496 13.0024 3.77051C13.5129 3.45605 14.0939 3.29883 14.7456 3.29883C15.7528 3.29883 16.5662 3.64746 17.186 4.34473C17.8104 5.04199 18.1226 5.9694 18.1226 7.12695V7.21582C18.1226 7.93587 17.9836 8.58301 17.7056 9.15723C17.4321 9.72689 17.0379 10.1712 16.5229 10.4902C16.0125 10.8092 15.4246 10.9688 14.7593 10.9688C13.7567 10.9688 12.9432 10.6201 12.3188 9.92285C11.6991 9.22559 11.3892 8.30273 11.3892 7.1543V7.06543ZM12.6606 7.21582C12.6606 8.03613 12.8498 8.69466 13.228 9.19141C13.6108 9.68815 14.1213 9.93652 14.7593 9.93652C15.4019 9.93652 15.9123 9.68587 16.2905 9.18457C16.6688 8.67871 16.8579 7.97233 16.8579 7.06543C16.8579 6.25423 16.6642 5.59798 16.2769 5.09668C15.894 4.59082 15.3836 4.33789 14.7456 4.33789C14.1213 4.33789 13.6177 4.58626 13.2349 5.08301C12.8521 5.57975 12.6606 6.29069 12.6606 7.21582ZM19.1548 9.7998L19.5923 9.25977C20.0845 8.62174 20.3647 7.66471 20.4331 6.38867L20.5493 3.43555H25.314V9.7998H26.2642V13.0059H24.9995V10.832H19.8384V13.0059H18.5737L18.5806 9.7998H19.1548ZM20.6519 9.7998H24.0493V4.60449H21.7729L21.6978 6.36816C21.6203 7.84017 21.2716 8.98405 20.6519 9.7998ZM32.2319 10.832C32.159 10.6862 32.0998 10.4264 32.0542 10.0527C31.4663 10.6634 30.7645 10.9688 29.9487 10.9688C29.2196 10.9688 28.6203 10.7637 28.1509 10.3535C27.686 9.9388 27.4536 9.41471 27.4536 8.78125C27.4536 8.01107 27.7453 7.41406 28.3286 6.99023C28.9165 6.56185 29.7414 6.34766 30.8032 6.34766H32.0337V5.7666C32.0337 5.32454 31.9015 4.97363 31.6372 4.71387C31.3729 4.44954 30.9832 4.31738 30.4683 4.31738C30.0171 4.31738 29.6388 4.43132 29.3335 4.65918C29.0282 4.88704 28.8755 5.16276 28.8755 5.48633H27.604C27.604 5.11719 27.7339 4.76172 27.9937 4.41992C28.258 4.07357 28.6134 3.80013 29.0601 3.59961C29.5112 3.39909 30.0057 3.29883 30.5435 3.29883C31.3957 3.29883 32.0633 3.51302 32.5464 3.94141C33.0295 4.36523 33.2801 4.95085 33.2983 5.69824V9.10254C33.2983 9.78158 33.3849 10.3216 33.5581 10.7227V10.832H32.2319ZM30.1333 9.86816C30.5298 9.86816 30.9058 9.76562 31.2612 9.56055C31.6167 9.35547 31.8742 9.08887 32.0337 8.76074V7.24316H31.0425C29.493 7.24316 28.7183 7.69661 28.7183 8.60352C28.7183 9 28.8504 9.3099 29.1147 9.5332C29.3791 9.75651 29.7186 9.86816 30.1333 9.86816ZM40.6675 4.46094H38.186V10.832H36.9214V4.46094H34.4878V3.43555H40.6675V4.46094ZM46.6831 3.43555H47.9478V10.832H46.6831V5.43848L43.272 10.832H42.0073V3.43555H43.272V8.83594L46.6831 3.43555ZM58.9468 4.46094H56.4653V10.832H55.2007V4.46094H52.7671V3.43555H58.9468V4.46094ZM62.6792 8.97949L64.4019 3.43555H65.7554L62.7817 11.9736C62.3215 13.2041 61.59 13.8193 60.5874 13.8193L60.3481 13.7988L59.8765 13.71V12.6846L60.2183 12.7119C60.6466 12.7119 60.9793 12.6253 61.2163 12.4521C61.4578 12.279 61.6561 11.9622 61.811 11.502L62.0913 10.75L59.4526 3.43555H60.8335L62.6792 8.97949ZM73.1382 7.21582C73.1382 8.34147 72.8807 9.24837 72.3657 9.93652C71.8507 10.6247 71.1535 10.9688 70.2739 10.9688C69.3761 10.9688 68.6698 10.6839 68.1548 10.1143V13.6758H66.8901V3.43555H68.0454L68.1069 4.25586C68.6219 3.61784 69.3374 3.29883 70.2534 3.29883C71.1421 3.29883 71.8439 3.63379 72.3589 4.30371C72.8784 4.97363 73.1382 5.9056 73.1382 7.09961V7.21582ZM71.8735 7.07227C71.8735 6.23828 71.6958 5.57975 71.3403 5.09668C70.9849 4.61361 70.4972 4.37207 69.8774 4.37207C69.1118 4.37207 68.5376 4.71159 68.1548 5.39062V8.9248C68.533 9.59928 69.1118 9.93652 69.8911 9.93652C70.4972 9.93652 70.978 9.69727 71.3335 9.21875C71.6935 8.73568 71.8735 8.02018 71.8735 7.07227Z" fill="white" />
                        </svg>
                    </div>
                </a>
                <div class="participants-table">
                    <table style="width:100%">
                        <tr><th>Назва туру</th><th>Опис туру</th><th>Дата туру</th><th>Зареєстрованих учасників</th><th class="action">Дії</th></tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.TourTypeName)</td>
                                <td>@Html.DisplayFor(modelItem => item.TourTypeDescription)</td>
                                <td>@item.TourDateFrom.ToShortDateString() - @item.TourDateTo.ToShortDateString()</td>
                                <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                <td>
                                    <a title="Змінити" asp-action="Edit" asp-route-id="@item.Id">
                                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.96853 3.3221L11.7733 6.18553L4.67373 13.4337L1.87059 10.5703L8.96853 3.3221ZM13.9015 2.6315L12.6507 1.35451C12.1673 0.860997 11.3824 0.860997 10.8974 1.35451L9.69921 2.57774L12.5039 5.4412L13.9015 4.01437C14.2764 3.63157 14.2764 3.01427 13.9015 2.6315ZM0.402824 14.5951C0.351782 14.8296 0.559184 15.0398 0.788927 14.9827L3.91432 14.2091L1.11119 11.3456L0.402824 14.5951Z" fill="#666666" />
                                        </svg>
                                    </a>
                                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                    <a title="Видалити" asp-action="Delete" asp-route-id="@item.Id">
                                        <svg width="15" height="15" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 511.999 511.999" xml:space="preserve">
                                        <path style="fill: #666666;" d="M384.955,256l120.28-120.28c9.019-9.019,9.019-23.642,0-32.66L408.94,6.765c-9.019-9.019-23.642-9.019-32.66,0l-120.28,120.28L135.718,6.765c-9.019-9.019-23.642-9.019-32.66,0L6.764,103.058c-9.019,9.019-9.019,23.642,0,32.66l120.28,120.28L6.764,376.28c-9.019,9.019-9.019,23.642,0,32.66l96.295,96.294c9.019,9.019,23.642,9.019,32.66,0l120.28-120.28l120.28,120.28c9.019,9.019,23.642,9.019,32.66,0l96.295-96.294c9.019-9.019,9.019-23.642,0-32.66L384.955,256z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>