@model IEnumerable<IT_Dnistro.ViewModels.ParticipantsViewModel>

@{
    ViewData["Title"] = "Учасники";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a asp-action="AddParticipant">Додати учасника</a>

<table class="table">
    <tr><th>ПІБ</th><th>Телефон</th><th>Email</th><th>Захід</th><th>Дії</th></tr>
    @foreach (var a in Model)
    {
        <tr>
            <td>@a.FullName</td>
            <td>@a.PhoneNumber</td>
            <td>@a.EMail</td>
            <td>@a.TourName</td>
            <td>
                <form asp-action="RemoveParticipant" asp-route-id="@a.Id" method="post">
                    @*<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@a.UserIdId">Изменить</a>*@
                    <button type="submit" class="btn btn-sm btn-danger">
                        Видалити
                    </button>
                </form>
            </td>
        </tr>
    }
</table>